# Настройки IDE, Gradle и временные файлы
*.iml
.gradle/
/.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/local.properties

# Сборки и кэш
/build

# Секреты, ключи и личные папки
*.jks
*.keystore
оч важ/
app/google-services.json

# Готовые сборки
*.apk
*.aab