{
  "project_info": {
    "project_number": "1234567890",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-project.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:example",
        "android_client_info": {
          "package_name": "com.yerkhan.a2048"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_API_KEY_HERE"
        }
      ]
    }
  ],
  "configuration_version": "1"
}